{% extends "base.html" %}

{% block title %}FFXI Gamify - Activation Complete{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 transparent-border">
            <div class="row col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                <h3 class="text-center">Account Activation Successful</h3>
                <p>
                    Your FFXI Gamify account has been activated and registration is 
                    now complete. Thank you for signing up, you can now 
                    <a href="/accounts/login/">log in</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}