{% extends "base.html" %}

{% block title %}FFXI Gamify - Password Reset Complete{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 transparent-border">
            <div class="row col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                <h3 class="text-center">Password Reset Complete</h3>
                <p>
                    The password for your FFXI Gamify account has been reset. You can 
                    now <a href="/accounts/login/">log in</a> with your new password.
                </p>
            </div>
        </div>
    </div>
{% endblock %}