{% extends "base.html" %}

{% block title %}FFXI Gamify - Registration Complete{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 transparent-border">
            <div class="row col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                <h3>One step closer to EPIC fun!! Check your email!</h3>
                <p>
                    We have received your request to register a FFXI Gamify account.
                    You should receive an email momentarily, describing the steps 
                    required to activate your account.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
