{% url 'home' as home %}
{% url 'daily_tally' as daily_tally %}
{% url 'characters' as characters %}
{% url 'record_feats' as record_feats %}
{% url 'ub3r1337_rank' as ub3r1337_rank %}
{% load navbar %}
{% load staticfiles %}


{% block navbar %}
    <div class="page-header">
        <ul class="nav nav-pills pull-right">
        {% if user.is_authenticated %}
            <li class="{% active request home %}"><a href="/">Home</a></li>
            {% get_characters user as characters %}
            {% if characters %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                       aria-haspopup="true" aria-expanded="false">
                        Characters
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for id, name in characters.items%}
                            <li><a href="/character/{{ id }}/{{ name }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                 </li>
                 
            {% endif %}
            <li class="{% active request daily_tally %}"><a href="/daily-tally/">Daily Tally</a></li>
            <li class="{% active request record_feats %}"><a href="/record-feats/">Record Feats</a></li>
            <li class="{% active request ub3r1337_rank %}"><a href="/ub3r1337-rank/">Ub3r1337 Rank</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/link-account/">Link Account</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="/accounts/logout/">Sign Out</a></li>
                </ul>
             </li>
        {% else %}
            <li><a href="/accounts/login/">Sign In</a></li>
        {% endif %}
        </ul>
        <div>
            <table>
                <tr>
                    <td>
                        <a href="/">
                            <img src="{% static "/static/img/ffxi-logo.gif" %}" style="width:276px;height:63px;">
                        </a>
                    </td>
                    {% if user.is_authenticated %}
                        {% get_exp_stats user as exp_stats %}
                        <td class="black-text">
                            <table>
                                <tr><td> @{{ user.username }} </td></tr>
                                <tr><td> EXP: <span id="char-exp">{{ exp_stats.exp }}</span></td></tr>
                                <tr><td> EXP Multiplier: <span id="exp-chain">{{ exp_stats.chain }}</span></td></tr>
                            </table>
                        </td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}