{% extends "base.html" %}
{% load navbar %}
{% load character %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block container %}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="row no-margin">
            <!-- First Column -->
            <div class="col-xs-12 col-md-2">
                <div class="row no-margin">
                    <div class="panel panel-default no-border">
                      <!-- Default panel contents -->
                      <div class="panel-heading italics">
                        <h3 class="panel-title">{{ charname }}</h3>
                     </div>
                      <!-- Table -->
                      <table class="table italics">
                        {% get_status charid as status %}
                        <tr>
                            <td class="no-border">
                                {{ status.mjob }}{{ status.mlvl }}/{{ status.sjob }}{{ status.slvl }}
                            </td>
                        </tr>
                        <tr>
                            <td class="no-border">{% get_gil charid %} Gil</td>
                        </tr>                       
                        <!--
                        <tr>
                            <td class="no-border">HP</td>
                            <td class="no-border">{{ status.hp }}/{{ status.hp }}</td>
                        </tr>
                        <tr>
                            <td class="no-border">MP</td>
                            <td class="no-border">{{ status.mp }}/{{ status.mp }}</td>
                        </tr>
                        -->
                      </table>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="panel panel-default no-border">
                      <!-- Default panel contents -->
                      <div class="panel-heading italics">
                        <h3 class="panel-title">Enhanced Signet</h3>
                      </div>
                      <div class="panel-body italics">
                           Command <strong>@signet</strong>
                      </div>
                      <!-- Table -->
                        <table class="table italics">
                            {% get_enhanced_signet charid %}
                        </table>
                    </div>
                </div>
            </div>
            

            
            <!-- Second Column -->
            <div class="col-xs-12 col-md-4">
                <div class="row no-margin">
                    <div class="panel panel-default no-border">
                        <!-- Default panel contents -->
                        <div class="panel-heading italics">
                            <h3 class="panel-title">Title</h3>
                        </div>
                        <div class="panel-body italics">
                            {% get_title charid %}
                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="panel panel-default no-border">
                        <!-- Default panel contents -->
                        <div class="panel-heading italics">
                            <h3 class="panel-title">Job Levels</h3>
                        </div>
                        <!-- Table -->
                        <table class="table">
                            {% get_jobs charid %}
                        </table>
                    </div>
                </div>
            </div>
            
            <!-- Third Column -->
            <input id="current-exp" name="start_level" type="hidden">
            <div class="col-xs-12 col-md-6">
                <div class="row no-margin">
                    <div class="panel panel-default no-border">
                        <!-- Default panel contents -->
                        <div class="panel-heading italics">
                            <h3 class="panel-title">Character Upgrades</h3>
                        </div>
                        <div class="panel-body italics">

    {% crispy form_character %}

                        </div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="panel panel-default no-border">
                        <!-- Default panel contents -->
                        <div class="panel-heading italics">
                            <h3 class="panel-title">Enhanced Signet Upgrades</h3>
                        </div>
                        <div class="panel-body italics">
                            {% crispy form_signet %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static "/static/js/ffxi.js" %}"></script>
    <script>
        {% get_exp_stats user as exp_stats %}
        var exp = {{ exp_stats.exp|cut:"," }};
        var charid = {{charid}};
        var charname = "{{charname}}";
        $(document).ready(function () {       
            disable_input();
            update_exp(exp);
            init_level_form(exp, charid, charname);
            init_signet_form(exp, charid, charname);
        });
    </script>
{% endblock %}