{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static "/static/css/bootstrap-datepicker3.min.css" %}">
    <style>
        .submit_buttons {
            margin-top: 35px;
        }
        .datepicker {
            padding: 0 !important;
            margin: 0 auto;
        }
        .datepicker-days {
            background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
            background-repeat: repeat-x;
            border-color: #9acfea;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #31708f;
            background-color: #d9edf7;
        }
        .asteriskField {
            display: none;
        }
        #update_steps {
            margin-right: 19px;
        }
        label div {
            display: inline;
        }
    </style>
{% endblock %}
{% block container %}
    <div class="row transparent-border">
        <div class="col-xs-12 col-sm-4">
            <div class="row">
                <h4 class="text-center">Choose A Date</h4>
                <div id="datepicker"></div>
                <hr />
                <br />
            </div>
            <div class="row">
                <div class="col-md-3"><img id="earth-cluster" class="crystal" src="/static/img/crystals/earth-cluster.png"></img></div>
                <div class="col-md-3"><img id="water-cluster" class="crystal" src="/static/img/crystals/water-cluster.png"></img></div>
                <div class="col-md-3"><img id="wind-cluster" class="crystal" src="/static/img/crystals/wind-cluster.png"></img></div>
                <div class="col-md-3"><img id="fire-cluster" class="crystal" src="/static/img/crystals/fire-cluster.png"></img></div>
            </div>
            <div class="row">
                <br /> <br />
            </div>
            <div class="row">
                <div class="col-md-3"><img id="ice-cluster" class="crystal" src="/static/img/crystals/ice-cluster.png"></img></div>
                <div class="col-md-3"><img id="lightning-cluster" class="crystal" src="/static/img/crystals/lightning-cluster.png"></img></div>
                <div class="col-md-3"><img id="dark-cluster" class="crystal" src="/static/img/crystals/dark-cluster.png"></img></div>
                <div class="col-md-3"><img id="light-cluster" class="crystal" src="/static/img/crystals/light-cluster.png"></img></div>
            </div>
            <div class="row">
            <br/>
            <div class="progress">
              <div class="progress-bar progress-bar-info exp-chain" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

              </div>
            </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="text-center">
                    <h3>Log Your Daily Tasks</h3>
                    <p class="indent">
                        Each of the daily tasks is linked to one of the 8 crystals. By completing 
                        a certain number of repetitions you will gain the corresponding crystal. 
                        Collecting all 8 crystals begins or keeps your experience streak! Green 
                        text means you've earned the crystal!
                    </p>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div>
                {% crispy form %}
                </div>
            </div>   
        </div>
    </div>
{% endblock %}
{% block courtesy %}
    Glyphs courtesy of 
    <a target="_blank" href="http://www.webhostinghub.com/glyphs/#top" >
    WebHostingHub Glyphs
    </a>
{% endblock %}
{% block js %}
    <script src="{% static "/static/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "/static/js/ffxi.js" %}"></script>
    <script>
        $(document).ready(function () {       
            init_datepicker();
            init_stats_form();
            
        });
        $('#id_steps').attr('disabled', true);
    </script>
{% endblock %}