{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}FFXI Gamify - Link Account{% endblock %}

{% block container %}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="row no-margin">
            <div class="panel panel-default no-border">
                <!-- Default panel contents -->
                <div class="panel-heading italics">
                    <h3 class="panel-title">
                        Earn 100k Just By Linking Your DSP Account*
                    </h3>
                </div>
                <div class="panel-body italics">
                    <p>
                        By linking your DSP account you can begin to apply daily
                        experience gains to your in-game characters! All you need 
                        to do is provide your DSP info so we can verify you 
                        are the owner of the account.
                    </p>
                    <p>
                        Disclaimer!!!! 100k is only shelled out for the first 
                        three accounts, after that you are on your own!
                    </p>

                    <hr/>
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
