html, body {
  background: url(/static/img/ffxi-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparent-border {
    background-color: rgba(55, 99, 166, 0.75);
    border-radius: 1em;
    padding: 1em;
    color: #FFF;
}